* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sav: #4caf50;
  --edi: #466985;
  --del: #f44336;
  --bg: #333;
  --txt: #888;
  --any: whitesmoke;
}

.mae {
  width: 1000px;
  min-height: 550px;
  border: 3px double var(--txt);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 8px;
  flex-direction: column;
  background-color: var(--bg);
}

.buscar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  margin: 4px;
  padding: 8px;
}

.buscar input {
  width: 100%;
  outline-color: var(--edi);
  color: var(--txt);
  font-weight: 600;
  font-size: 15px;
  border: 2px double var(--txt);
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}
